extends layouts/mainMenu.pug

block head
    link(rel='stylesheet', href='css/add.css')

    title= title

block header
    span.bold(style="padding: 5px")= title

block main
    form(method="POST")
        div.inputs
            for field in fields
                section
                    div.name= field.displayName

                    if (field.type == "select")
                        select(name=field.name)
                            for opt in field.options
                                if (opt.id == field.value)
                                    option(value=opt.id, selected="selected")= opt.title
                                else
                                    option(value=opt.id)= opt.title
                    else
                        input(type=field.type, name=field.name, value=field.value)
        

        for hid in hidden
            input(type="hidden", name=hid.name, value=hid.value)
        input.submit(type="submit", value=submit)