extends layouts/mainMenu.pug

block head
    link(rel='stylesheet', href='css/add.css')
    
    script(src="js/add.js")

    title= title

block main
    header= title

    form(method="POST", onsubmit="onSubmit(event)")
        div.inputs
            for field in fields                
                section(class=(small ? "small" : ""))
                    div.name= field.displayName

                    if (field.type == "select")
                        select(name=field.name)
                            for opt in field.options
                                if (opt.id == field.value)
                                    option(value=opt.id, selected="selected")= opt.title
                                else
                                    option(value=opt.id)= opt.title
                    else
                        //- if (field.name == "modAddress")
                        input(type=field.type, name=field.name, value=field.value, oninput="check(event, \"" + title + "\")")
                        //- else
                            input(type=field.type, name=field.name, value=field.value)
        

        if hidden
            for hid in hidden
                input(type="hidden", name=hid.name, value=hid.value)
        
        div.alert.warn.hidden(id="addressWarn") Invalid Address
        input.alert.good.clickable(type="submit", value=submit)

        if error
            script.
                setWarn(true, "#{error}", false)

                setTimeout(function() {
                    setWarn(false, "#{error}")
                }, 1000)
    
    script.
        check(null, "#{title}", "username", false)
        check(null, "#{title}", "login", false)
        check(null, "#{title}", "password", false)
