extends layouts/mainMenu.pug

block head
    link(rel='stylesheet', href='css/modules.css')
    script(src="js/range.js")
    script(src="js/modules.js")

    title= groupName

block header
    div.bold
        span.groupName= groupName
        a.delete.right(onclick="deleteGroup('"+groupID+"')") 🗙

block main
    for mod in mods
        section
                header
                    div.bold= mod.modName
                        a.delete.right(onclick="deleteModule('"+mod._id+"')") 🗙

                for prop in properties[mod.modModel].inputs
                    div.row
                        div.bold.rangeName(style="color: "+prop.color)= prop.displayName
                            span.right= mod[prop.name]
                        
                        input(type=prop.type, name=prop.name, min=1, max=255, step=1, oninput="valChange(event)")

    script.
        updateRanges()