extends layouts/mainMenu.pug

block head
    link(rel='stylesheet', href='css/modules.css')
    script(src="js/canvas.js")
    script(src="js/sweep.js")
    script(src="js/preset.js")
    //- script(src="js/range.js")
    //- script(src="js/ajax.js")

    script.
        function deleteModule(modID) {
            $.post("/modifyModule", {
                action: "delete",
                modID: modID
            }, function() {
                location.reload()
            });
        }

        function deleteGroup(groupID) {
            $.post("/modifyGroup", {
                action: "delete",
                groupID: groupID
            }, function() {
                location.assign("/")
            })
        }

        function addPreset(modID, login) {
            //- console.log("preset for " + modID)
            var data = {
                action: "Add",
                modID: modID,
                login: login,
                name: prompt("Preset name")
            }

            if (!data.name)
                return

            $.post("/modifyPreset", data, function() {
                location.reload()
            })
        }

        function deletePreset(presetID) {
            $.post("/modifyPreset", {
                action: "Delete",
                presetID: presetID
            }, function() {
                location.reload()
            })
            console.log("deletePreset")
        }

    title= groupName

block main
    .group
        .icons-right
            a.icon.delete(title="Delete group", onclick="deleteGroup('"+groupID+"')") x
            a.icon.add(title="Add module to this group", href="/modifyModule?action=groupAdd&groupID="+groupID) +
            a.icon(title="Duplicate group", href="/modifyGroup?action=Duplicate&groupID="+groupID) ⎘
            a.icon(title="Modify group", href="/modifyGroup?action=Modify&groupID="+groupID) ✎

        header= groupName
            //- span= groupName

        .modules
            for mod in mods
                section
                        header.bold
                            div.icons-absolute.modAddress= toHex(mod.modAddress)
                            span(title="Address: "+mod.modAddress+"\nModel: "+mod.modModel)= mod.modName
                            div.icons-absolute.icons-absolute-right
                                a.icon.delete(title="Delete module", onclick="deleteModule('"+mod._id+"')") x
                                a.icon(title="Duplicate module", href="/modifyModule?action=Duplicate&modID="+mod._id) ⎘
                                a.icon(title="Modify module", href="/modifyModule?action=Modify&modID="+mod._id) ✎
                                a.icon(title="Save preset", onclick="addPreset('"+mod._id+"')") 🖫

                        div.canvasContainer.canvasContainerHeigth(id=mod._id)
                            canvas.hue(onmousedown="mouseDown(event)", ontouchstart="touchStart(event)", ontouchend="touchEnd(event)", data-value=mod.hue)

                            div.side
                                canvas.saturation(onmousedown="mouseDown(event)", ontouchstart="touchStart(event)", ontouchend="touchEnd(event)", data-value=mod.saturation)
                                canvas.lightness(onmousedown="mouseDown(event)", ontouchstart="touchStart(event)", ontouchend="touchEnd(event)", onclick="clickLightness(event)", data-value=mod.lightness, data-lastlightness=mod.lastlightness)
    .presets
        for preset in presets
            //- , onmouseenter="hoverPreser(event)", onmouseleave="hoverPreser(event)"
            - var color = "hsl("+preset.hue+", "+preset.saturation+"%, "+preset.lightness+"%)"
            //- - var color2 = "hsl("+preset.hue+", "+(preset.saturation-30)+"%, "+(preset.lightness-30)+"%)"
            //- - var color2 = "black"
            div.noselect(onclick="presetSelect(event)", data-hue=preset.hue, data-saturation=preset.saturation, data-lightness=preset.lightness, style="background-color: "+color+"; border: 3px solid "+color+";")= preset.name
                div.icons-absolute.icons-absolute-right
                    a.icon.delete(title="Delete group", onclick="deletePreset('"+preset._id+"')") x
        .selects
            .pre
                - opt = 0
                for mod in mods
                    .select
                        input(type="checkbox", id="opt"+opt, name=mod._id)
                        label.noselect(for="opt"+opt)= mod.modName
                        - opt++
            .buttons
                button(onclick="modulesTurnOff(event)") Turn off
                button(onclick="presetAccept(event)") Accept

    script.
        initCanvas()