extends layouts/mainMenu.pug

block head
    link(rel='stylesheet', href='css/modules.css')
    script(src="js/range.js")
    //- script(src="js/ajax.js")

    script.
        function deleteModule(modID) {
            $.post("/modifyModule", {
                action: "delete",
                modID: modID
            }, function() {
                location.reload()
            });
        }

        function deleteGroup(groupID) {
            $.post("/modifyGroup", {
                action: "delete",
                groupID: groupID
            }, function() {
                location.assign("/")
            });
        }

    title= groupName

block main
    div.icons-right
        a.icon.delete(title="Delete group", onclick="deleteGroup('"+groupID+"')") x
        a.icon.add(title="Add module to this group", href="/modifyModule?action=groupAdd&groupID="+groupID) +
        a.icon(title="Duplicate group", href="/modifyGroup?action=Duplicate&groupID="+groupID) ⎘
        a.icon(title="Modify group", href="/modifyGroup?action=Modify&groupID="+groupID) ✎

    header= groupName
        //- span= groupName

    div.modules
        for mod in mods
            section(id=mod._id)
                    header.bold
                        div.icons-absolute.modAddress= toHex(mod.modAddress)
                        span(title="Address: "+mod.modAddress+"\nModel: "+mod.modModel)= mod.modName
                        div.icons-absolute.icons-absolute-right
                            a.icon.delete(title="Delete module", onclick="deleteModule('"+mod._id+"')") x
                            a.icon(title="Duplicate module", href="/modifyModule?action=Duplicate&modID="+mod._id) ⎘
                            a.icon(title="Modify module", href="/modifyModule?action=Modify&modID="+mod._id) ✎

                    div.rows
                        for prop in properties[mod.modModel].inputs
                            div.row
                                div.rangeName.inline(style="color: "+prop.color)
                                    span.bold= prop.displayName

                                    //- - value = Math.round(mod[prop.name] / 255 * 100)
                                    span= mod[prop.name]
                                
                                //- input(type=prop.type, name=prop.name, min=0, max=255, step=1, oninput="valChange(event, '" + mod._id + "', '" + prop.name + "')")
                                input(id=mod._id+"-"+prop.name, type=prop.type, name=prop.name, min=0, max=255, step=1, oninput="updateLeds(event, '"+ mod._id +"', '"+ mod.modModel +"', '"+ prop.name +"')" onchange="updateLeds(event, '"+ mod._id +"', '"+ mod.modModel +"', '"+ prop.name +"')")

                            script.
                                addModuleInput("#{mod._id}", "#{prop.name}", #{mod[prop.name]})                        
                        script.
                            updateModuleColor("#{mod._id}", "#{mod.modModel}")

    //- script.
    //-     updateRanges()